<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd" xmlns="http://maven.apache.org/SETTINGS/1.1.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <servers>
        <server>
            <username>${env.ARTIFACTORY_USERNAME}</username>
            <password>${env.ARTIFACTORY_API_KEY}</password>
            <id>snapshots</id>
        </server>
        <server>
            <username>${env.ARTIFACTORY_USERNAME}</username>
            <password>${env.ARTIFACTORY_API_KEY}</password>
            <id>search-local</id>
        </server>
    </servers>
    <profiles>
        <profile>
            <id>zendeskArtifactory</id>
            <repositories>
                <repository>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <id>libs-infra-releases-local</id>
                    <name>libs-infra-releases-local</name>
                    <url>https://zdrepo.jfrog.io/zdrepo/libs-infra-releases-local</url>
                </repository>
                <repository>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                    <id>snapshots</id>
                    <name>libs-snapshots</name>
                    <url>https://zdrepo.jfrog.io/zdrepo/libs-snapshots-local</url>
                </repository>
                <repository>
                    <id>maven-central</id>
                    <name>maven-central</name>
                    <url>http://repo.maven.apache.org/maven2/</url>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <id>zen-libs-m2</id>
                    <name>zen-libs-m2-plugins</name>
                    <url>https://zdrepo.jfrog.io/zdrepo/zen-libs-m2</url>
                </pluginRepository>
                <pluginRepository>
                    <snapshots />
                    <id>snapshots</id>
                    <name>plugins-releases</name>
                    <url>https://zdrepo.jfrog.io/zdrepo/plugins-releases</url>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>zendeskArtifactory</activeProfile>
    </activeProfiles>
</settings>